{% extends 'layout/base.html' %} {% load static %} {% load bootstrap5 %} 

{% load store_tags %} 

{% block content %}

<div class="d-inline-block">
  <div class="card mb-3">
    <div class="card-body">
      <small><p class="card-text">{{ item.category.title }}</p></small>
      <h4 class="card-title">{{ item.title }}</h4>
      <p class="card-text">
        <small class="text-muted">Цена: </small>{{ item.price }} руб.
      </p>
      <p class="card-text">
        <small class="text-muted">
          {% if item.count %} в наличии {{ item.count }} шт. {% else %}
          отсутствует в наличии. доступно под заказ {% endif %}
        </small>
      </p>
    </div>
  </div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="description-tab"
        data-bs-toggle="tab"
        data-bs-target="#description-tab-pane"
        type="button"
        role="tab"
        aria-controls="description-tab-pane"
        aria-selected="true"
      >
        Описание
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="characteristic-tab"
        data-bs-toggle="tab"
        data-bs-target="#characteristic-tab-pane"
        type="button"
        role="tab"
        aria-controls="characteristic-tab-pane"
        aria-selected="false"
      >
        Характеристики
      </button>
    </li>
    <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="galary-tab"
          data-bs-toggle="tab"
          data-bs-target="#galary-tab-pane"
          type="button"
          role="tab"
          aria-controls="galary-tab-pane"
          aria-selected="false"
        >
          Фотографии
        </button>
      </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="description-tab-pane"
      role="tabpanel"
      aria-labelledby="description-tab"
      tabindex="0"
    >
      {{ item.description }}
    </div>
    <div
      class="tab-pane fade"
      id="characteristic-tab-pane"
      role="tabpanel"
      aria-labelledby="characteristic-tab"
      tabindex="0"
    >
      <p class="card-text">Характеристики:</p>

      {% characteristics item.characts_to_public as characts_to_public %} 
      {% for charact in characts_to_public %}
      <small>{{ charact.group }}: {{ charact.title }}</small>
      {% endfor %}
    </div>

    <div
      class="tab-pane fade"
      id="galary-tab-pane"
      role="tabpanel"
      aria-labelledby="galary-tab"
      tabindex="0"
    >
    Фоточки
    <img src="..." class="card-img-top" alt="..." />


    </div>
  </div>

  <div class="btn-group" role="group" aria-label="Basic outlined example">
    {% if request.META.HTTP_REFERER %} 
    {% bootstrap_button "Вернуться обратно" button_type="link" button_class="btn-outline-primary" href=request.META.HTTP_REFERER size="small" %} 
    {% else %} 
    {% url 'main:index' as url %} 
    {% bootstrap_button "Вернуться обратно" button_type="link" button_class="btn-outline-primary" href=url size="small" %} 
    {% endif %} 
    {% bootstrap_button "Добавить в корзину" button_type="link" button_class="btn-outline-primary" size="small" %}
  </div>
</div>

{% endblock content %}
