{% extends 'layout/base.html' %} {% load static %} {% load bootstrap5 %} 

{% load store_tags %} 


{% block title %}
{{ item.title }}
{% endblock title %}

{% block content %}

<div class="d-inline-block">
  <div class="card mb-3"  style="max-width: 800px;">
    <div class="card-body">
      {% url 'main:favorite_toggle' pk=item.pk as url %}
      {% favorite_widget item href=url favorite_class="favorite" %}

      <small><p class="card-text">{{ item.category.title }}</p></small>
      <h4 class="card-title">{{ item.title }}</h4>
      <p class="card-text">
        <small class="text-muted">Цена: </small>{{ item.price }} руб.
      </p>
      <p class="card-text">
        <small class="text-muted">
          {% if item.count %} в наличии {{ item.count }} шт. {% else %}
          отсутствует в наличии. доступно под заказ {% endif %}
        </small>
      </p>
    </div>
  </div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="description-tab"
        data-bs-toggle="tab"
        data-bs-target="#description-tab-pane"
        type="button"
        role="tab"
        aria-controls="description-tab-pane"
        aria-selected="true"
      >
        Описание
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="characteristic-tab"
        data-bs-toggle="tab"
        data-bs-target="#characteristic-tab-pane"
        type="button"
        role="tab"
        aria-controls="characteristic-tab-pane"
        aria-selected="false"
      >
        Характеристики
      </button>
    </li>
    <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="galary-tab"
          data-bs-toggle="tab"
          data-bs-target="#galary-tab-pane"
          type="button"
          role="tab"
          aria-controls="galary-tab-pane"
          aria-selected="false"
        >
          Фотографии
        </button>
      </li>
  </ul>

  <div class="tab-content" id="myTabContent" style="max-width: 800px;">
    <div
      class="tab-pane fade show active"
      id="description-tab-pane"
      role="tabpanel"
      aria-labelledby="description-tab"
      tabindex="0"
    >
      {{ item.description }}
    </div>
    <div
      class="tab-pane fade"
      id="characteristic-tab-pane"
      role="tabpanel"
      aria-labelledby="characteristic-tab"
      tabindex="0"
    >
      <p class="card-text">Характеристики:</p>

      <ul>
        {% characteristics_as_ul item.characts_to_public %}
      </ul>
    </div>

    <div
      class="tab-pane fade"
      id="galary-tab-pane"
      role="tabpanel"
      aria-labelledby="galary-tab"
      tabindex="0"
    >


    <div id="image-carousel" class="carousel carousel-dark slide" data-bs-theme="dark">
      <div class="carousel-inner">
        {% if item.image %}
          <div class="carousel-item active">
            <img src="{{ item.image.url }}" class="d-block w-100">
          </div>
          {% else %}
          <div class="carousel-item active">
            <img src="{% static image_stub %}" class="d-block w-100">
          </div>
          {% endif %}

        {% for image in additional_images %}
        <div class="carousel-item">
          <img src="{{ image.image.url }}" class="d-block w-100">
        </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#image-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущий</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#image-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующий</span>
      </button>
    </div>



    </div>
  </div>
  <div class="btn-group" role="group" aria-label="Basic outlined example">
    {% if request.META.HTTP_REFERER %} 
    {% bootstrap_button "Вернуться обратно" button_type="link" button_class="btn-outline-primary" href=request.META.HTTP_REFERER size="small" %} 
    {% else %} 
    {% url 'main:index' as url %} 
    {% bootstrap_button "Вернуться обратно" button_type="link" button_class="btn-outline-primary" href=url size="small" %} 
    {% endif %} 
    {% url 'cart:cart_add' pk=item.pk as url_cart_add %}
    {% bootstrap_button "Добавить в корзину" button_type="link" button_class="btn-outline-primary" href=url_cart_add size="small" %}
    {% if user.is_staff  %}

    {% url 'main:product_create' as url_create %} 
    {% url 'main:product_edit' pk=item.pk as url_edit %} 
    {% bootstrap_button "Редактировать товар" button_type="link" button_class="btn-outline-primary" href=url_edit size="small" %}
    {% bootstrap_button "Добавить новый товар" button_type="link" button_class="btn-outline-primary" href=url_create size="small" %}
    <form method='post' action="{% url 'main:product_delete' pk=item.pk %}">
      {% csrf_token %}
      {% bootstrap_button "Удалить" button_type="submit" button_class="btn-outline-primary" size="small" %}
    </form>
    {% endif %}
  </div>
</div>

<h4 class="mt-5">Новый комментарий</h4>
<form method="post">
    {% csrf_token %}
    {% bootstrap_form comment_form layout='horisontal' %}
    {% buttons submit='Добавить' %}{% endbuttons %}
</form>
{% if comments %}
<div class="mt-5">
    {% for comment in comments %}
    <div class="my-2 p-2 border">
        <h5>{{ comment.author }}</h5>
        <p>{{ comment.content }}</p>
        <p class="text-right font-italic">{{ comment.created_at }}</p>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock content %}
