{% extends 'layout/base.html' %}

{% load static %}
{% load bootstrap5 %}
{% load store_tags %}

{% block title %}
{% if category %}
{{ category }} - 
{% endif %}Магазин
{% endblock title %}


{% block content %}

<div class="d-inline-block">

<h3>Товары, представленные в магазине </h1>

{% if category %}
<h5>Категория: {{ category }}</h5>
{% endif %}

{% for item in store %}

{% url "main:detail" pk=item.pk as url_detail %}

<div class="card mb-3" style="max-width: 800px;">
    <div class="row g-0">
      <div class="col-md-6">
        <a href="{{ url_detail }}">
          {% if item.image %}
            <img src="{{ item.image.url }}" class="img-fluid rounded-start main-image">
          {% else %}
            <img src="{% static image_stub %}" class="img-fluid rounded-start main-image">
          {% endif %}
        </a>
      </div>
      <div class="col-md-6">
        <div class="card-body">
            {% url 'main:favorite_toggle' pk=item.pk as url %}
            {% favorite_widget item href=url favorite_class="favorite" %}
            <small><p class="card-text">{{ item.category.title }}</p></small>
            <h4 class="card-title">{{ item.title }}</h4>
          <p class="card-text">{{ item.description|truncatewords:50 }}</p>
          <p class="card-text"><small class="text-muted">Цена: </small>{{ item.price }} руб.</p>
          <p class="card-text"><small class="text-muted">
            {% if item.count %}
            в наличии
            {% else %}
            под заказ
            {% endif %}
          </small>
          </p>

          <p class="card-text">Характеристики:</p>
          
          <ul>
            {% characteristics_as_ul item.characts_to_public count=3 %}
          </ul>

          {% url "cart:cart_add" pk=item.pk as url_cart_add %}
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            {% bootstrap_button "Дeтальное описание" button_type="link" button_class="btn-outline-primary" href=url_detail size="small" %}
            {% bootstrap_button "Добавить в корзину" button_type="link" button_class="btn-outline-primary" href=url_cart_add size="small" %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endfor %}

{% if is_paginated and page_obj.has_other_pages %}
{% bootstrap_pagination page_obj %}
{% endif %}

<div class="btn-group" role="group" aria-label="Basic outlined example">
  {% if user.is_staff  %}

  {% url 'main:product_create' as url_create %} 
  {% bootstrap_button "Добавить новый товар" button_type="link" button_class="btn-outline-primary" href=url_create size="small" %}

  {% endif %}
</div>


</div>


{% endblock content %}