{% extends 'layout/base.html' %} {% load static %} {% load bootstrap5 %} 

{% load bootstrap5 %}

{% block title %}Добавить товар{% endblock title %}

{% block content %}

    <h3>Добавить товар</h3>
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form product_form layout='horisontal' %}
        {% bootstrap_formset image_form layout='horisontal' %}
        <h4>Характеристики:</h4>
        {% bootstrap_formset characteristic_form layout='horisontal' %}
        <input type="hidden" name="next" value="{{next}}">
        {% buttons submit='Добавить товар' %}{% endbuttons %}
    </form>
        
{% endblock content %}
