{% extends 'layout/base.html' %}

{% load bootstrap5 %}

{% block title %}Изменение пароля{% endblock title %}

{% block content %}
<h2>Изменение пароля</h2>
<div class="my-3">
    <label for="user">Учетная запись:</label>
    <span id="user">{{ user.email }}</span>
</div>

<form method='post'>
    {% csrf_token %}
    {% bootstrap_form form layout='horisontal' %}
    <input type="hidden" name="next" value="{{next}}">
    {% buttons submit='Изменить' %}{% endbuttons %}
</form>
{% endblock content %}