<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
  <div
    class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
  >
    <ul
      class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start text-white"
      id="menu"
    >
      <li class="nav-item">
        <a href="{% url 'main:index' %}" class="nav-link align-middle px-0">
          <span class="ms-1 d-sm-inline">Магазин</span>
        </a>
      </li>
      <li>
        <ul>
          {% for category in categories %} 
          {% ifchanged category.super_category.pk %}
            </ul>
          </li>
          <li>
            <a
              href="#submenu{{category.super_category.pk}}"
              data-bs-toggle="collapse"
              class="nav-link px-0 align-middle"
            >
              <span class="ms-1 d-sm-inline"
                >{{ category.super_category.title }}</span
              >
            </a>
            <ul
              class="collapse nav flex-column ms-1"
              id="submenu{{category.super_category.pk}}"
              data-bs-parent="#menu"
            >
              <li>
                <small
                  ><a
                    href="{% url 'main:category' category.super_category.pk %}"
                    class="nav-link px-0"
                    >Все {{ category.super_category.title }}</a
                  ></small
                >
              </li>

          {% endifchanged %}
          <li>
            <small
              ><a
                href="{% url 'main:category' category.pk %}"
                class="nav-link px-0"
              >
                {{ category.title }}</a
              ></small
            >
          </li>
          {% endfor %}
        </ul>
      </li>

      <li class="nav-item">
        <a
          href="{% url 'main:any_page' url='actions' %}"
          class="nav-link align-middle px-0"
        >
          <span class="ms-1 d-sm-inline">АКЦИИ!</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          href="{% url 'main:any_page' url='contacts' %}"
          class="nav-link align-middle px-0"
        >
          <span class="ms-1 d-sm-inline">КОНТАКТЫ</span>
        </a>
      </li>
    </ul>
  </div>
</div>
